.hero-text { font-size: 24px; font-weight: 600; letter-spacing: -1.3px; }

.mono { font-family: ui-monospace, "SFMono-Regular", Menlo, monospace; }

#scramble { color: #aa4925; text-align: center; }

.hero-text{font-size:24px;letter-spacing:-1px}

#scramble{color:#1c1c1c}
